{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    [
      "babel-root-import", [
        {
          "rootPathPrefix": "~",
          "rootPathSuffix": "node_modules/@conarwelsh/ui/dist"
        },
        {
          "rootPathPrefix": "@",
          "rootPathSuffix": "node_modules/@conarwelsh/framework/dist"
        }
      ]
    ]
  ]
}